blinker==1.8.2
click==8.1.7
docx2txt==0.8
Flask==2.3.2
Flask-Cors==5.0.0
Flask-SQLAlchemy==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.3.0
MarkupSafe==2.1.5
PyMySQL==1.0.3
PyPDF2==3.0.1
python-docx==0.8.11
setuptools==75.1.0
SQLAlchemy==2.0.35
typing_extensions==4.12.2
Werkzeug==2.3.4
wheel==0.44.0
requests==2.31.0
